body{

    margin: 0%;
}

.score{
    display: flex;
    flex-direction: row;
    background-color: powderblue;
    justify-content: space-evenly;
    padding: 100px;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
    background-color: red;
    padding: 100px;
}

.choice{
    display: flex;
    justify-content: space-evenly;
    background-color: yellow;
    padding: 100px;
}

.compScore{

    text-align: center;
}

.playerScore{
    text-align:center;
}