body {
   margin: 0%;
   color: white;
   background-color: #36454f;;
}


.page {
    display: flex;
    flex-direction: column;
    margin: 0%;
    height: 850px;
    
}

.score {
    display: flex;
    flex-direction: row;
    background-color: #36454f;
    justify-content: space-around; 
    align-items: center;
    height: 50%;
      
}

.pscore, .cscore {    
    padding: 20px;
 
}

.compScore, .playerScore{
    
    text-align: center;
}
.title {
    padding-bottom: 20px;
    font-weight: bold;
}


.buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #36454f;;
    height: 30%;
    
}

button{
    background-color: white;
    font-weight: bold;
    border-radius: 5px;
    height: 20px;
    border: none;
}

.choice{
    display: flex;
    justify-content: space-around;
    
    height: 120%;
    align-items: flex-start;
    justify-items: center;
     
}

.pChoice, .cChoice{
    
    padding: 20px;
    font-weight: bold;

}

.pContainer, .cContainer{
    padding-top: 20px;
    font-weight: normal;
}





